/* -*- mode: css; coding: utf-8 -*- */

html {
    scroll-behavior: smooth;  /* Firefox は効く */
}

#table-of-contents {
    position: fixed;
    right: 0em;
    top: 0em;
    font-size: small;
    background: #F2F2F2;
    border-radius: 1em;
    padding: 0 0.5em 0 0.5em;
    max-height: 80%;
    overflow: auto; 
    z-index: 200;
}

#table-of-contents #text-table-of-contents {
    display: none;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
}

h2, h3, h4, h5 {
    padding: 0.2em;
    color: white;
}

h2 {
    background-color: #00b300;
}

#table-of-contents h2 {
    color: black;
    background-color: #F2F2F2;
}

h3 {
    background-color: #009900;
}

h4 {
    background-color: #008000;
}

h5 {
    background-color: #006600;
    font-size: medium;
}

p {
    line-height: 1.5em;
}

li {
    line-height: 1.5em;
}

pre {
    background: #EEE;
}

code {
    font-weight: bold;
    background: Gainsboro;
    padding: 0 0.2em 0 0.2em;
}

code.symbol {
    background: none;
}

.KEY, .key {
    padding: 0.1em 0.2em 0.1em 0.2em;
    border: 1px solid black;
    border-radius: 5px;
}

a.footref {
    text-decoration: none;
    padding: 0 0.2em 0 0.2em;
    border: 1px dashed red;
    border-radius: 3px;
}

a {
    transition: background-color 0.2s;
}

a:hover {
    background-color: salmon;
}

